<?xml version="1.0" encoding="utf-8"?>
<Rev>
<Socket_Key>
<![CDATA[Revenge-RAT]]>
</Socket_Key>
<Connections_Port>
<![CDATA[333]]>
</Connections_Port>
<Minimizing>
<![CDATA[True]]>
</Minimizing>
<Listening>
<![CDATA[False]]>
</Listening>
<Ping>
<![CDATA[15]]>
</Ping>
<Visual>
<![CDATA[True]]>
</Visual>
<Notification>
<![CDATA[False]]>
</Notification>
<Sound>
<![CDATA[False]]>
</Sound>
<Desktop>
<![CDATA[True]]>
</Desktop>
<DesktopValue>
<![CDATA[2]]>
</DesktopValue>
<Webcam>
<![CDATA[True]]>
</Webcam>
<WebcamValue>
<![CDATA[2]]>
</WebcamValue>
<ThumbnailsValue>
<![CDATA[2]]>
</ThumbnailsValue>
<Flags>
<![CDATA[1]]>
</Flags>
<Gridlines>
<![CDATA[True]]>
</Gridlines>
<View>
<![CDATA[2]]>
</View>
<Theme>
<![CDATA[0]]>
</Theme>
<ACR>
<![CDATA[True]]>
</ACR>
</Rev>