<settings>
  <ShowToU>False</ShowToU>
  <ListenPort>4782</ListenPort>
  <AutoListen>False</AutoListen>
  <ShowPopup>False</ShowPopup>
  <Password>1234</Password>
  <UseUPnP>False</UseUPnP>
  <ShowToolTip>False</ShowToolTip>
  <EnableNoIPUpdater>False</EnableNoIPUpdater>
  <NoIPHost>
  </NoIPHost>
  <NoIPUsername>
  </NoIPUsername>
  <NoIPPassword>
  </NoIPPassword>
  <SaveFormat>APP - URL - USER:PASS</SaveFormat>
</settings>